<h3>
  <%= link_to @recipe.title, @recipe %>
</h3>

<p>
<i>Created at</i>:
<%= @recipe.created_at %>
<% if @recipe.created_at != @recipe.updated_at %>
  , <i>last updated</i>: <%= @recipe.updated_at %>
<% end %>
</p>

<p>
  Created by <%= link_to User.find(@recipe.user_id).name, User.find(@recipe.user_id) %>
  <% if current_user and current_user.id == @recipe.user_id %>
    (<%= link_to 'edit', edit_recipe_path(@recipe) %>)
  <% end %>
</p>

<% if !@recipe.tags.nil? and !@recipe.tags.empty? %>
  <div style="margin-bottom: 1rem;">
    <strong>Tags:</strong>
    <% @recipe.tags.split(",").each do |tag| %>
      <a
        class="tag"
        style="<%= generate_tag_css(tag.strip) %>"
        href="/recipes/search?tag=<%= URI.encode(tag.strip) %>">
        <%= tag.strip %>
      </a>
    <% end %>
  </div>
<% end %>

<div>
<strong>Ingredients:</strong>
<ul>
  <% @recipe.ingredients.split("\n").each do |ing| %>
    <li>
      <strong><%= ing.split(", ", 2)[0].strip %></strong>
      <% if ing.include? ", " %>
        <span>
          (<%= ing.split(", ", 2)[1].strip %>)
        </span>
      <% end %>
    </li>
  <% end %>
</ul>
</div>

<div>
<strong>Instructions:</strong>
<ol>
  <% @recipe.content.split("\n").each do |line| %>
    <li><%= line %></li>
  <% end %>
</ol>
</div>

<style>
.tag {
  /* Background */
  padding: .2em .6em .3em;
  border-radius: .25em;
  /* Spacing */
  line-height: 1.8;
  margin: 0 .1em;
}
</style>

<% unless @recipe.source.nil? or @recipe.source.empty? %>
  <%= link_to('View source', @recipe.source) if @recipe.source %>
<% end %>
