<h3><%= @user.name %></h3>
<p>Email: <%= @user.email if @user.email %></p>

<%= link_to 'Post New Recipe', 'recipes/new' %>

<h4>Recipes</h4>
<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.title, recipe %> from <%= recipe.created_at.strftime("%b %e %Y at %I:%M %p") %>
    </li>
  <% end %>
</ul>
